# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

images/

# HuggingFace cache
.cache/
hf_cache/

# Model files
*.bin
*.pt
*.pth
*.ckpt
*.safetensors

# Environment files
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db